@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #16191c;
  height: 100vh;
}

.cabecalho {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ececec;
  height: 70px;
}

.cabecalho img {
  width: 50px;
  margin-left: 10px;
  cursor: pointer;
}

.cabecalho ul {
  background-color: #ececec;
  width: 300px;
  height: 220px;
  padding: 15px 20px;
  position: absolute;
  list-style-type: none;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: none;
  transition: 0.5s;
}

.cabecalho .ativo {
  display: block;
}

.cabecalho ul li {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

.cabecalho ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #434242;
  font-size: 16px;
  font-weight: 700;
}

.categorias {
  display: none;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #ececec;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .cabecalho {
    justify-content: center;
    align-items: center;
  }

  .hamburguer {
    display: none;
  }

  .categorias {
    display: flex;
    list-style: none;
  }

  .categorias li {
    display: flex;
    justify-items: center;
    padding: 0px 15px;
    text-transform: uppercase;
  }
  .categorias li:hover {
    border: 1px solid #434242;
    border-radius: 2px;
  }

  .categorias li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #434242;
    font-size: 24px;
    font-weight: 700;
  }
}
